/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Inter - Normal Weights */
.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Inter - Italic Weights */
.inter-thin-italic {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.inter-extralight-italic {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.inter-light-italic {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-extrabold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.inter-black-italic {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
}


:root {
  --font-primary: 'Poppins', sans-serif;
  --color-dark: #3A3A3A;
  --color-light: #ffffff;
  --color-accent: #E02C6D;
  --color-muted: #6c6c6c;
  --color-bg: #f8f8f8;
  --color-footer: #0a0a23;
  --color-brand-border: ;
  --color-gray-900: #18191f;
  --color-price: rgba(0, 0, 0, .87);
  --color-gray-80: #5e6366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
  background: var(--color-light);
  line-height: 1.6;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 5rem 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-dark);
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: unset;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-content,
.hero-image {
  flex: 1;
}

.hero-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-content span {
  color: var(--color-dark);
}

.hero-content p {
  margin: 0;
  color: var(--color-dark);
}

.btn {
  background: var(--color-accent);
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 41px;
  font-weight: 600;
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  line-height: 1;
}

.hero-image {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-image img,
.brands img,
.featured-image img {
  max-width: 100%;
  height: auto;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
  margin: 69px auto 100px auto;


}



.brands::before,
.brands::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  /* thickness of the 'border' */
  background: linear-gradient(90deg,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50%,
      rgba(192, 204, 218, 0.1) 100%);
}

.brands::before {
  top: 0;
}

.brands::after {
  bottom: 0;
}

.popular h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 4rem;
}

.product-card {
  background: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  padding: 1rem;
  text-align: left;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.product-card h4 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
  color: var(--color-gray-900);
}

.price {
  font-weight: normal;
  color: var(--color-price);
  font-size: 1.5rem;
}

.rating {
  margin: 0.5rem 0;
  color: #ff9900;
}

.rating span {
  color: var(--color-gray-80);
}

.desc {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--color-muted);
}

.featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
}

.featured-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.featured-content p {
  color: var(--color-muted);
  margin-bottom: 1.5rem;
}

.footer {
  background: var(--color-footer);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.footer .logo {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.social a {
  margin: 0 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}